* {
  font-family: "Courier New", Courier, monospace;

  box-sizing: border-box;

  padding: 0px;

  margin: 0px;
}

body {
  width: 100%;

  height: auto;

  display: flex;

  justify-content: center;
}

.content-wrapper {
  display: flex;

  flex-wrap: wrap;

  width: 100%;

  max-width: 1400px;

  justify-content: center;
}

header {
  width: 100%;

  height: auto;
}
footer {
  width: 100%;

  height: auto;
}

.navigation-wrapper {
  width: 100%;

  display: flex;
}

.nav {
  width: 100%;

  height: 60px;

  list-style: none;

  background: black;

  display: flex;

  justify-content: flex-start;
}

.nav a {
  font-size: 16px;

  text-decoration: none;

  display: flex;

  justify-content: center;

  align-items: center;

  color: #b33939;

  font-weight: 900;

  text-transform: uppercase;

  padding: 0 1rem;

  height: 60px;
}

.nav li {
  display: flex;

  align-items: center;
}

p {
  font-size: 16px;

  text-decoration: none;

  display: block;

  padding: 1em;

  color: #b33939;

  font-weight: 900;

  text-transform: uppercase;
}

.nav li:first-child {
  margin-right: auto;
}

.nav a:hover {
  background: white;

  box-shadow: 4px 3px 15px 4px #b33939;
}

.hero-image {
  background-image: url(img/bmwe30.jpg);

  height: 700px;

  width: 100%;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

  margin-bottom: 16px;

  position: relative;
}

.hero-text {
  text-align: center;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: #b33939;
}
.hero-text p {
  color: #b33939;
}
.hero-text button {
  font-family: "Courier New", Courier, monospace;

  text-transform: uppercase;

  border: none;

  outline: 0;

  display: inline-block;

  padding: 10px 25px;

  color: #b33939;

  background-color: black;

  text-align: center;

  cursor: pointer;
}

.hero-text button:hover {
  background-color: black;

  color: #b33939;

  box-shadow: 5px 4px 16px 5px #c0392b;
}

main {
  display: flex;

  flex-wrap: wrap;

  width: 100%;

  height: auto;

  justify-content: center;
}

.flex-container {
  overflow: hidden;

  display: flex;

  width: 100%;

  height: auto;

  justify-content: space-between;

  margin-bottom: 16px;
}

i {
  font-family: "Courier New", Courier, monospace;

  font-size: 18px;

  color: #b33939;

  padding: 20px;

  padding-right: 90px;
}

.automobili {
  width: auto;

  height: 100px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

section {
  border: 1px solid #273c75;

  border-radius: 4px;

  text-align: center;

  box-shadow: 4px 4px 15px 4px #d63031;
}

.image-container {
  padding: 10px;

  height: auto;

  overflow: hidden;

  text-align: center;

  border: 1px solid #273c75;

  border: radius 4px;
}

.engine .prvaslika .r34 .supra .rx7 {
  max-width: 100%;

  height: auto;

  display: block;
}

.prva {
  width: 30%;

  padding: 25px;

  margin: 5px;

  background-image: url(img/eu.png);

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
}

.druga {
  width: 30%;

  padding: 25px;

  margin: 5px;

  background-image: url(img/jap.png);

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
}

.treca {
  width: 30%;

  padding: 20px;

  margin: 5px;

  background-image: url(img/usa.png);

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
}

h2 {
  color: #b33939;
}

.footer-wraper {
  width: 100%;

  display: flex;
}

.fot {
  width: 100%;

  height: 60px;

  list-style: none;

  background: black;

  display: flex;

  justify-content: flex-start;
}

.fot a {
  font-size: 16px;

  text-decoration: none;

  display: flex;

  justify-content: center;

  align-items: center;

  color: #b33939;

  font-weight: 900;

  text-transform: uppercase;

  padding: 0 1rem;

  height: 60px;
}

.fot li {
  display: flex;

  align-items: center;
}

.fot li:first-child {
  margin-right: auto;
}

.fot a:hover {
  background: white;

  box-shadow: 4px 3px 15px 4px #b33939;
}
.engine {
  box-shadow: 4px 3px 15px 4px #b33939;
}

.social {
  display: flex;

  justify-content: space-between;

  width: 100%;

  height: 60px;

  list-style: none;

  background: black;
}

.social a {
  font-size: 16px;

  text-decoration: none;

  display: flex;

  justify-content: center;

  align-items: center;

  color: #b33939;

  font-weight: 900;

  text-transform: uppercase;

  padding: 0 1rem;

  height: 60px;
}

.social li {
  display: flex;

  align-items: center;
}

.social li:first-child {
  margin-right: auto;
}

.social a:hover {
  background: white;

  box-shadow: 4px 3px 15px 4px #b33939;
}
.follow {
  padding-left: 575px;
}
